
.container {
    width: 70%;
    margin: 100px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 1em;

    .row-one {
        flex: 1;
        display: flex;
        gap: 1em;


        .row-one-col-left {
            flex: 1.5;
            padding: 10px 10px 10px 0;
            align-content: center;
        }

        .row-one-col-one {
            flex: 1.5;

            Img {
                width: 100%;
                height: 250px;
                object-fit: cover;
            }
        }

        .row-one-col-two {
            flex: 1.2;
        
            Img {
                width: 100%;
                height: 250px;
                object-fit: cover;
            }
        }
    }

    .row-two {
        flex: 2;
        display: flex;
        gap: 1em;

        .row-two-col-one {
            flex: 1.5;

            Img {
                width: 100%;
                height: 470px;
                object-fit: cover;
            }

            .street-sign-img {
                display: none;
            }
        }

        .row-two-col-two {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 1em;

            .row-two-col-two-row-one {
                flex: 1;

                .upstairs-img {
                    display: none;
                }

                Img {
                    width: 100%;
                    height: 220px;
                    object-fit: cover;
                }
            }

            .row-two-col-two-row-two {
                flex: 1;
                padding: 10px;
                align-content: center;
                color: #ffffff;
                background-color: #000000;

                h2 {
                    color: #ffffff;
                }
            }
        }

    }

    @media (max-width: 768px) {
        width: 100%;
        height: fit-content;
        margin: 25px 0px;

        .row-one {

            .row-one-col-left {
                padding: 0px;

                h2 {
                    font-size: 1.24em;
                }

                p {
                    font-size: 1em;
                }
            }

            .row-one-col-one {
                display: none;
            }

            .row-one-col-two {
                Img {
                    height: 190px;
                }
            }

        }

        .row-two {
            flex-direction: column;

            .street-sign-img {
                display: block;
            }

            .couch-img {
                display: none;
            }

            .row-two-col-one {

                .street-sign-img {
                    display: block;
                }

                Img {
                    height: 150px;
                }
            }

            .row-two-col-two {
                flex-direction: row;

                .row-two-col-two-row-one {

                    .upstairs-img {
                        display: block;
                    }

                    .street-sign-img2 {
                        display: none;
                    }

                    Img {
                        height: 100%;
                    }
                }

                .row-two-col-two-row-two{
                        h2 {
                            font-size: 1.24em;
                        }
                    
                        p {
                            font-size: 1em;   }
                }

            }

        }
    }
}
