@import '../base/variables';

.header {
    width: 100%;
    height: 80px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #000;
    color: #ffffff;

    img {
        width: 100px;
        margin-left: 10px;
        cursor: pointer;
    }

    .hamburger {
        display: none;
        flex-direction: column;
        margin-right: 5px;
        cursor: pointer;
        gap: 5px;
        z-index: 100;

        .bar {
            width: 35px;
            height: 4px;
            background-color: white;
            border-radius: 2px;
            transition: all 0.4s ease;
        }

        &.active .bar:nth-child(1) {
            transform: rotate(45deg) translate(5px, 5px);
        }

        &.active .bar:nth-child(2) {
            opacity: 0;
        }

        &.active .bar:nth-child(3) {
            transform: rotate(-45deg) translate(6px, -6px);
        }
    }

    .navMenu {
        ul {
            display: flex;
            gap: 30px;
            list-style: none;
            margin-right: 30px;

            li {
                font-size: 0.9em;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                    color: hsl(30, 4%, 69%);
                }
            }
        }
    }

    @media (max-width: 768px) {

        img {
            width: 75px;
            margin-left: 10px;
            cursor: pointer;   
        }

        .hamburger {
            display: flex;
        }

        .navMenu {
            position: fixed;
            top: 80px; // below the header
            right: -100%;
            height: 100vh;
            width: 200px;
            background-color: rgba(0, 0, 0, 0.95);
            flex-direction: column;
            justify-content: flex-start;
            padding: 20px;
            transition: right 0.4s ease-in-out;
            box-shadow: -2px 0 10px rgba(0, 0, 0, 0.4);
            z-index: 98;

            ul {
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
                padding: 0;
                margin: 0;
            }
        }

        .navMenu.active {
            right: 0;
        }
    }
}