.menu-items {
    margin-top: 80px;

    .menu-text-container {
        width: 100%;
        min-height: 300px;
        display: flex;
        justify-content: start;
        align-items: center;
        background-image: url('/assets/cafeCanvasBg.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .menu-text-bg {
            width: 100%;
            min-height: 300px;
            display: flex;
            justify-content: start;
            align-items: center;
            background-color: rgb(255, 255, 255, 0.87);

            .menu-text {
                width: 70%;
                padding: 10px;
                margin: 0 auto;
                text-align: center;
            
                p {
                    margin-bottom: 8px;
                }
            }

        }
    }

    .menu-container {
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #efefef;

        .menu-category {
            width: 100%;
            margin: 20px;
            line-height: 20px;
            display: flex;
            background-image: url('/assets/menuBg3.jpg');
            background-size: cover;
            //background-position: center;
            background-repeat: no-repeat;
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

            .menu-category-img {
                flex: 1;
                padding: 5px;
                background-color: rgb(255, 255, 255, 0.7);

                .menuImgs {
                    width: 100%;
                    min-height: 100%;
                    object-fit: cover;
                }

                .breakfastImg {
                    width: 100%;
                    min-height: fit-content;
                }

                .croissaintImg {
                    width: 100%;
                    min-height: 100%;
                    object-fit: cover;
                }

                .saladsImg {
                    width: 100%;
                    min-height: 100%;
                    object-fit: cover;
                }
            }

            .menu-category-detail {
                padding: 50px;
                flex: 1;
                background-color: rgb(255, 255, 255, 0.7);
            }
        }

        .menu-category h3 {
            margin-bottom: 10px;
        }

        hr {
            width: 110px;
            margin: 0 auto 15px auto;
        }

        span {
            font-weight: bold;
        }

    }

}