.menu-items {
    margin-top: 80px;

    .menu-text-container {
        width: 100%;
        min-height: 300px;
        display: flex;
        justify-content: start;
        align-items: center;
        background-image: url('/assets/cafe/cafeCanvasBg.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .menu-text-bg {
            width: 100%;
            min-height: 300px;
            display: flex;
            justify-content: start;
            align-items: center;
            background-color: rgb(255, 255, 255, 0.87);

            .menu-text {
                width: 70%;
                padding: 10px;
                margin: 0 auto;
                text-align: center;
            
                p {
                    margin-bottom: 8px;
                }
            }

        }
    }

    .menu-container {
        padding: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-image: url('/assets/cafe/cafeBackgroundImg.webp');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;

        .menu-category {
            width: 100%;
            margin: 20px;
            line-height: 20px;
            display: flex;
            flex-wrap: wrap;
            background-image: url('/assets/cafe/menuBg.webp');
            background-size: cover;
            //background-position: center;
            background-repeat: no-repeat;
            background-color: #ffffff;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

            .menuCategorImg {
                flex: 0.5;
                padding: 5px;
                background-color: rgb(255, 255, 255, 0.7);

                .menuImgs {
                    width: 100%;
                    min-height: 100%;
                    object-fit: cover;
                }

                .breakfastImg {
                    width: 100%;
                    min-height: 100%;
                    object-fit: cover;
                }

                .croissaintImg {
                    width: 100%;
                    min-height: 100%;
                    object-fit: cover;
                }

                .saladsImg {
                    width: 100%;
                    min-height: 100%;
                    object-fit: cover;
                }
            }

            .menuCategorImg2 {
                display: none;
                flex: 1;
                border: 2px solid blue;
            }

            .menu-category-detail {
                padding: 50px;
                flex: 0.5;
                background-color: rgb(255, 255, 255, 0.7);
            }
        }

        .menu-category h3 {
            margin-bottom: 10px;
        }

        hr {
            width: 110px;
            margin: 0 auto 15px auto;
        }

        span {
            font-weight: bold;
        }

    }

    @media (max-width: 768px) {

        .menu-text-container {

            .menu-text-bg {

                .menu-text {
                    width: 90%;
                    margin: 10% auto;

                    h2 {
                        width: 80%;
                        margin: 10px auto;
                    }

                    h4 {
                        width: 80%;
                        margin: 0px auto;
                    }
                }
            }
        }

        .menu-container {
            padding: 20px;

            .menu-category {
                flex-direction: column;

                .menu-category-detail {

                    padding: 15px;

                    h3 {
                        font-size: 1.44em;
                    }
                    
                    ul {
                        width: 100%;
                        font-size: 1.1em;
                    }
                }
            }

        }

    }

}