.galleryContainer {
    width: 100%;
    padding: 20px;
    margin-top: 80px;
    border: 2px solid red;

    .gallerySection {
        margin: 20px auto;
        padding: 10px;
        border: 2px solid #ffff00;

        .galleryHeader {
            margin: 20px auto;
            padding: 10px;
            text-align: center;
            border: 2px solid black;
        }

        .galleryGrid {
            width: 100%;
            height: fit-content;
            padding: 10px;
            margin: 20px auto;
            display: flex;
            justify-content: center;
            gap: 15px;
            flex-wrap: wrap;
            border: 2px solid green;

            .artwork {
                width: 250px;
                height: 290px;
                border: 2px solid black;
            }
        }

        .galleryShowMoreBtn {
            width: 120px;
            padding: 8px;
            margin: 20px auto;
            text-align: center;
            color: #ffffff;
            background-color: #000000;
            border: 1px solid #000;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        }
    }
}