.galleryContainer {
    width: 100%;
    padding: 20px;
    margin-top: 80px;

    .gallerySection {
        margin: 20px auto;
        padding: 10px;

        .galleryHeader {
            width: 90%;
            margin: 20px auto;
            padding: 15px;
            text-align: center;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
            background-color: rgba(230, 230, 230, 0.6);
            color: #ffffff;

            h4,h3 {
                color: #000000;
            }

            p {
                width: 80%;
                margin: 0px auto;
                color: #000000;
            }
        }

        .galleryGrid {
            width: 100%;
            height: fit-content;
            padding: 10px;
            margin: 20px auto;
            display: flex;
            justify-content: center;
            gap: 15px;
            flex-wrap: wrap;
            border: 1px solid rgb(255, 0, 0);

            .showMoreArtwork {
                display: flex;
                justify-content: center;
                gap: 15px;
                flex-wrap: wrap;

                .artwork {
                    display: none;  
                }
            }

            .artwork {
                width: 250px;
                height: 290px;
                border: 1px solid black;
            }
        }

        .galleryShowMoreBtn {
            width: 120px;
            padding: 8px;
            margin: 20px auto;
            text-align: center;
            color: #ffffff;
            background-color: #000000;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
            cursor: pointer;
        }
    }

    .gallerySectionMid {
        width: 95%;
        background-color: rgba(230, 230, 230, 0.5);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

        .galleryHeaderMid {
            margin-top: 40px;
            background-color: rgba(0, 0, 0, 0.9);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);

            h4, h3, p {
                color: #ffffff;
            }
        }

        .galleryGridMid {
            .artwork {
                width: 250px;
                height: 290px;
                border: 1px solid rgb(0, 0, 0);
            }
        }
    }
}