// This file sets up typography styles according to the brand fonts.

// Import Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Montserrat:wght@300;600&family=Open+Sans:wght@300;400;600&display=swap');

// Typography Styles
h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    line-height: 1;
    color: #000000; // Brownish
}

h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #000000; // Shade of orange #c08f63
}

p, a, span, li {
    font-family: 'Montserrat','Open Sans', sans-serif;
    font-weight: 500;
    // Default black text color: #000000; 
    line-height: 1.4;
}

strong {
    font-weight: 600;
}

// Additional Styling
.text-highlight {
    color: #d3b89d; // Tan
    font-weight: bold;
}

.text-muted {
    color: #8B4513; // Brownish
    font-size: 0.9em;
}